<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text="Regresar"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize">card</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card mode="ios" color="primary">
        <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-item color="secondary">
            <ion-icon slot="start" name="location-outline"></ion-icon>
            <ion-label>Marcador</ion-label>
        </ion-item>

        <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, consequatur. Aperiam repellendus quos velit illum quia id natus fuga ut odio ex amet odit dolor inventore temporibus, impedit accusantium hic?
        </ion-card-content>

    </ion-card>

    <ion-card>

        <ion-img src="./assets/shapes.svg"></ion-img>

        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quo necessitatibus nam omnis enim dignissimos consequuntur accusamus tempore quae. Doloribus, fuga praesentium tempora blanditiis reprehenderit dolores voluptates! Omnis, provident autem.
        </ion-card-content>

    </ion-card>

</ion-content>